body{

background:#0B0B0B;

color:white;

font-family:Inter,sans-serif;

margin:0;

}


nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

}


nav ul{

display:flex;

gap:30px;

list-style:none;

}


h1{

font-family:Cinzel,serif;

color:#C9A86A;

}


.hero{

text-align:center;

padding-top:180px;

}


.hero h2{

font-size:48px;

}


.hero p{

color:#cfcfcf;

}


button{

padding:15px 35px;

background:#C9A86A;

border:none;

cursor:pointer;

font-weight:bold;

}
