html{

scroll-behavior:smooth;

}



body{

margin:0;

background:#090909;

color:white;

font-family:Inter,sans-serif;

overflow-x:hidden;

}



nav{

position:fixed;

top:0;

width:100%;

padding:30px 80px;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(0,0,0,.8);

backdrop-filter:blur(20px);

box-sizing:border-box;

z-index:1000;

}



.logo{

font-family:Cinzel;

font-size:34px;

letter-spacing:6px;

color:#C8A86B;

}



nav ul{

display:flex;

gap:50px;

list-style:none;

margin:0;

padding:0;

}



nav a{

text-decoration:none;

color:white;

transition:.3s;

}



nav a:hover{

color:#C8A86B;

}



#home{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}



#home h1{

font-family:Cinzel;

font-size:110px;

margin:0;

color:#C8A86B;

}



#home p{

font-family:"Cormorant Garamond";

font-size:60px;

max-width:800px;

}



#home h3{

letter-spacing:5px;

font-weight:300;

color:#b3b3b3;

}



button{

padding:18px 45px;

background:#C8A86B;

border:none;

font-size:16px;

cursor:pointer;

margin-top:20px;

transition:.4s;

}



button:hover{

transform:translateY(-5px);

box-shadow:0 0 35px #C8A86B;

}



section{

padding:120px 80px;

}



section h2{

font-family:Cinzel;

font-size:45px;

text-align:center;

color:#C8A86B;

margin-bottom:70px;

}



.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

}



.card{

padding:80px;

text-align:center;

border:1px solid rgba(200,168,107,.3);

background:rgba(255,255,255,.01);

transition:.4s;

}



.card:hover{

transform:translateY(-10px);

border-color:#C8A86B;

box-shadow:0 0 30px rgba(200,168,107,.4);

}



.bottle{

font-size:90px;

opacity:.7;

transition:.4s;

}



.card:hover .bottle{

transform:scale(1.1);

opacity:1;

}



.card h3{

font-family:Cinzel;

letter-spacing:3px;

}



.card p{

color:#b3b3b3;

}



#about p{

max-width:700px;

margin:auto;

line-height:2;

text-align:center;

font-size:18px;

}



#contact{

text-align:center;

}



#contact p{

font-size:18px;

}
